.button {
    background: #333;
    border: none;
    appearance: none;
    padding: .5em;
    width: 3em;
    color: #FFF;
    font-family: monospace;
    transition: inherit;
    transition-duration: 300ms;
    font-size: inherit;
    user-select: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: #981;
    outline: none;
}

.button:active {
    outline: none;
    transform: translateY(.25em); 
    transition-duration: 100ms;
}

/* If you comment out -st-extends, the button won't be updated unless you
   make a change to button.js, or reload the browser */
.increment {
    -st-extends: button;
    background: #3A8;
}

.increment::before {
    content: "++";
}

.decrement {
    -st-extends: button;
    background: #B42;
}

.decrement::before {
    content: "--";
}